<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.cflwork.dao.ContractMasterDAO">
    <resultMap id="contractMasterMap" type="contractMasterVo"></resultMap>
    <resultMap id="select2Map" type="select2Vo"></resultMap>
    <sql id="search">
        <if test="#{pageQuery.searchVal!=null} and #{pageQuery.searchVal!=''}">
            and (bank_name like concat('%${pageQuery.searchVal}%') or bank_account_name like concat ('%${pageQuery.searchVal}%') or bank_account_no like concat ('%${pageQuery.searchVal}%') or is_active like concat ('%${pageQuery.searchVal}%') or company_id like concat ('%${pageQuery.searchVal}%') or create_time like concat ('%${pageQuery.searchVal}%'))
        </if>
    </sql>
    <select id="getById" resultMap="contractMasterMap" parameterType="long">
        select * from t_contract_master where id = #{id}
    </select>
    <delete id="removeById" parameterType="long">
        delete from t_contract_master where id = #{id}
    </delete>
    <select id="listPages" resultMap="contractMasterMap">
        select * from t_contract_master where company_id=#{companyId} <include refid="search"/> limit #{pageQuery.pageNo},#{pageQuery.pageSize}
    </select>
    <select id="listAll" resultMap="contractMasterMap">
        select * from t_contract_master
    </select>
    <select id="listAlls" resultMap="select2Map">
        select id,bank_account_name as text from t_contract_master where company_id=#{companyId}
    </select>
    <select id="counts" resultType="java.lang.Long">
        select count(*) from t_contract_master where company_id=#{companyId} <include refid="search"/>
    </select>
    <insert id="save" parameterType="contractMasterVo">
        insert into t_contract_master ( bank_name,bank_account_name,bank_account_no,is_active,company_id,phone,password,`identity`) values ( #{bankName},#{bankAccountName},#{bankAccountNo},#{isActive},#{companyId},#{phone},#{password},#{identity})
    </insert>
    <update id="updateStatus">
        update t_contract_master set is_active=#{status} where id=#{id}
    </update>
    <update id="update">
        update t_contract_master set phone=#{phone},bank_name=#{bankName},bank_account_name=#{bankAccountName},bank_account_no=#{bankAccountNo},`identity`=#{identity} where id = #{id}
    </update>
    <select id="checkPhone" resultType="int" parameterType="string">
        select count(id) from t_contract_master where phone=#{phone}
    </select>
    <select id="getInfo" resultMap="contractMasterMap" parameterType="string">
        select * from t_contract_master where phone = #{phone}
    </select>
    <update id="updatePwd">
        update t_contract_master set password=#{password} where phone=#{phone}
    </update>
</mapper>