<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.cflwork.dao.RentPayDAO">
    <resultMap id="rentPayMap" type="top.cflwork.vo.RentPayVo">
        <id column="id" property="id"></id>
        <result column="hotel_id" property="hotelId"></result>
        <result column="master_id" property="masterId"></result>
        <result column="company_id" property="companyId"></result>
        <result column="baodi_pay" property="baodiPay"></result>
        <result column="pay_time" property="payTime"></result>
        <result column="pay_type" property="payType"></result>
        <result column="pay_period_start" property="payPeriodStart"></result>
        <result column="pay_period_end" property="payPeriodEnd"></result>
        <result column="fact_pay_time_start" property="factPayTimeStart"></result>
        <result column="fact_pay_time_end" property="factPayTimeEnd"></result>
        <result column="is_cash" property="isCash"></result>
        <result column="description" property="description"></result>
        <result column="create_time" property="createTime"></result>
        <result column="is_active" property="isActive"></result>
        <result column="house_id" property="houseId"></result>
        <result column="pay_money_type" property="payMoneyType"></result>
        <result column="pay_proportion" property="payProportion"></result>
        <result column="area" property="area"></result>
        <association property="contractMasterVo" javaType="top.cflwork.vo.ContractMasterVo">
            <id column="cid" property="id"></id>
            <result column="bank_name" property="bankName"></result>
            <result column="phone" property="phone"></result>
        </association>
        <association property="hotelVo" javaType="top.cflwork.vo.HotelVo">
            <id column="hid" property="id"></id>
            <result column="title" property="title"></result>
        </association>
        <association property="houseVo" javaType="top.cflwork.vo.HouseVo">
            <id column="vid" property="id"></id>
            <result column="card_title" property="cardTitle"></result>
        </association>
    </resultMap>
    <resultMap id="selet2VoMap" type="top.cflwork.vo.Select2Vo"></resultMap>
    <resultMap id="rentMap" type="top.cflwork.vo.RentVo"></resultMap>
    <resultMap id="rentPayMoneyMap" type="top.cflwork.vo.RentPayMoneyVo"></resultMap>
    <resultMap id="hotelMap" type="top.cflwork.vo.HotelVo"></resultMap>
    <sql id="search">
        <if test="#{searchVal!=null} and #{searchVal!=''}">
            and (t.baodi_pay like concat('%${searchVal}%')
            or t.pay_time like concat ('%${searchVal}%')
            or t.pay_type like concat ('%${searchVal}%')
            or t.description like concat ('%${searchVal}%')
            or t.is_cash like concat ('%${searchVal}%')
            )
        </if>
    </sql>
    <select id="getContractMaster" resultMap="selet2VoMap" parameterType="long">
        select id,bank_name as text from t_contract_master where company_id=#{companyId} and is_active=0
    </select>
    <select id="getHotel" resultMap="selet2VoMap" parameterType="long">
        select id,title as text from t_hotel where company_id=#{companyId} and is_active=0
    </select>
    <select id="getHouse" resultMap="selet2VoMap">
        select id,card_title as text from t_house where hotel_id=#{hotelId} and is_active=0
    </select>
    <select id="getById" resultMap="rentPayMap" parameterType="long">
        select t.*,c.id as cid,c.bank_name,c.phone,h.id as hid,h.title,u.card_title from t_rent_pay t,t_contract_master c,t_hotel h, t_house u where t.house_id=u.id and t.master_id=c.id and t.hotel_id=h.id and t.id = #{id}
    </select>
    <delete id="removeById" parameterType="long">
        delete from t_rent_pay where id = #{id}
    </delete>
    <select id="listPage" resultMap="rentPayMap">
        select t.*,c.id as cid,c.bank_name,c.phone,h.id as hid,h.title,u.card_title from t_rent_pay t,t_contract_master c,t_hotel h,t_house u where t.house_id=u.id and t.master_id=c.id and t.hotel_id=h.id and t.company_id=#{companyId} <include refid="search"/> order by t.create_time desc limit #{pageNo},#{pageSize}
    </select>
    <select id="listAll" resultMap="rentPayMap">
        select * from t_rent_pay where company_id=#{companyId}
    </select>
    <select id="count" resultType="java.lang.Long">
        select count(t.id) from t_rent_pay t,t_contract_master c,t_hotel h,t_house u where t.house_id=u.id and t.master_id=c.id and t.hotel_id=h.id and t.company_id=#{companyId} <include refid="search"/>
    </select>
    <!--条件搜索分页开始-->
    <sql id="finds">
        <if test="rentPayVo.createTime!=null"> and t.create_time BETWEEN #{rentPayVo.createTime} AND #{rentPayVo.endTime}</if>
        <if test="rentPayVo.name!=null"> and c.bank_account_name like concat('%${rentPayVo.name}%')</if>
        <if test="rentPayVo.phone!=null"> and c.phone like concat('%${rentPayVo.phone}%')</if>
        <if test="rentPayVo.houseName!=null"> and u.card_title like concat('%${rentPayVo.houseName}%')</if>
        <if test="rentPayVo.payMoneyType!=null"> and t.pay_money_type=#{rentPayVo.payMoneyType}</if>
        <if test="rentPayVo.payType!=null"> and t.pay_type=#{rentPayVo.payType}</if>
        <if test="rentPayVo.description!=null"> and t.description like concat('%${rentPayVo.description}%')</if>
        <if test="rentPayVo.isActive!=null"> and t.is_active=#{rentPayVo.isActive}</if>
        <if test="rentPayVo.hotelId!=null"> and t.hotel_id=#{rentPayVo.hotelId}</if>
    </sql>
    <select id="listPages" resultMap="rentPayMap">
        select t.*,c.id as cid,c.bank_name,c.phone,h.id as hid,h.title,u.card_title from t_rent_pay t,t_contract_master c,t_hotel h,t_house u where t.house_id=u.id and t.master_id=c.id and t.hotel_id=h.id and t.company_id=#{pageQuery.companyId} <include refid="finds"/> order by t.create_time desc limit #{pageQuery.pageNo},#{pageQuery.pageSize}
    </select>
    <select id="counts" resultType="java.lang.Long">
        select count(t.id) from t_rent_pay t,t_contract_master c,t_hotel h,t_house u where t.house_id=u.id and t.master_id=c.id and t.hotel_id=h.id and t.company_id=#{pageQuery.companyId} <include refid="finds"/>
    </select>
    <!--条件搜索分页结束-->
    <insert id="save" parameterType="rentPayVo">
        insert into t_rent_pay (master_id, hotel_id, company_id, baodi_pay,  pay_time, pay_type, pay_period_start, pay_period_end, is_cash, description,is_active, house_id,  sum_pay,area,pay_money_type,pay_proportion,fact_pay_time_start,fact_pay_time_end,create_time) values
        (#{masterId}, #{hotelId}, #{companyId}, #{baodiPay},#{payTime}, #{payType},  #{payPeriodStart}, #{payPeriodEnd}, #{isCash}, #{description},  #{isActive}, #{houseId},  #{sumPay},#{area},#{payMoneyType},#{payProportion},#{factPayTimeStart},#{factPayTimeEnd},now())
    </insert>
    <update id="updateStatus">
         update t_rent_pay set is_active=#{status} where id=#{id}
    </update>
    <update id="update">
        update t_rent_pay set master_id=#{masterId},hotel_id=#{hotelId},baodi_pay=#{baodiPay},pay_type=#{payType},house_id=#{houseId},pay_period_start=#{payPeriodStart},pay_period_end=#{payPeriodEnd},
        is_cash=#{isCash},description=#{description},pay_money_type=#{payMoneyType},pay_proportion=#{payProportion},
        fact_pay_time_start=#{factPayTimeStart},fact_pay_time_end=#{factPayTimeEnd},area=#{area}
        where id = #{id}
    </update>
    <select id="notHotelId" resultMap="rentMap">
        select
        (select count(hotel_id) from t_house_rent_pay group by hotel_id) as 'rentHouseCount',
        (select sum(area) from t_house_rent_pay group by hotel_id) as 'rentHouseSumArea',
        ((select sum(money) from t_income group by hotel_id)/((select sum(area) from t_house_rent_pay group by hotel_id)+(select sum(area) from t_rent_pay group by hotel_id))) as 'money'
        from t_house_rent_pay
    </select>
    <select id="haveHotelId" resultMap="rentMap" parameterType="long">
        select
            (select count(hotel_id) from t_house_rent_pay where hotel_id=#{hotelId} group by hotel_id) as 'rentHouseCount',
            (select sum(area) from t_house_rent_pay where hotel_id=#{hotelId} group by hotel_id) as 'rentHouseSumArea',
            ((select sum(money) from t_income where hotel_id=#{hotelId} group by hotel_id)/((select sum(area) from t_house_rent_pay where hotel_id=#{hotelId} group by hotel_id)+(select sum(area) from t_rent_pay where hotel_id=#{hotelId} group by hotel_id))) as 'money'
        from t_house_rent_pay where hotel_id=#{hotelId}
    </select>
    <select id="getSubjectMoney" resultMap="rentPayMoneyMap">
        select c.title as title,t.id,max(t.end_time) as endTime,
        sum(if(t.start_time>=#{time1} and t.end_time>=#{time2} and #{time2}>=t.start_time,datediff(#{time2},t.start_time)*t.day_money,
        if(#{time1}>=t.start_time and #{time2}>=t.end_time and t.end_time>=#{time1},datediff(#{time2},#{time1})*t.day_money,
        if(t.start_time>=#{time1} and #{time2}>=t.end_time,datediff(t.end_time,t.start_time)*t.day_money,
        if(#{time1}>=t.start_time and t.end_time>=#{time2},datediff(t.end_time,#{time1})*t.day_money,
        if(#{time1}>t.end_time,0,
        if(#{time2}>t.start_time,0,0)
        )
        )
        )
        )
        )
        )  as money
        from t_outcome t,t_cash_subject c where t.subject_id=c.id <if test="hotelId!=null">and t.hotel_id=#{hotelId}</if> group by c.title
    </select>
    <select id="getOtherHotel" resultMap="hotelMap">
        select * from t_hotel where company_id=#{companyId} and id not in (select hotel_id from t_income where company_id=#{companyId} group by hotel_id  UNION ALL  select hotel_id from t_outcome where company_id=#{companyId} group by hotel_id)
    </select>
</mapper>